.symbols-icon1 {
  position: absolute;
  height: 96.97%;
  width: 99.82%;
  top: 1.59%;
  right: 0.18%;
  bottom: 1.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.explore2,
.fickleflight-logo2 {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.fickleflight-logo2 {
  cursor: pointer;
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.explore2 {
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
}
.explore2,
.offers2,
.search2 {
  position: relative;
  cursor: pointer;
}
.offers2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
}
.navigation-menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xl);
}
.hamburger-menu-icon2 {
  display: none;
}
.hamburger-menu-icon2,
.notification-bell-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.profile-picture-icon {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.account-section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navigation-right2 {
  justify-content: flex-end;
  gap: var(--gap-17xl);
}
.navigation-right2,
.top-container2,
.top-header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container2 {
  flex: 1;
  justify-content: space-between;
}
.top-header2 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 77px;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
.banner-background1,
.banner-gradient1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.banner-gradient1 {
  top: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  height: 639.91px;
}
.banner-background1 {
  top: 0.4px;
  max-width: 100%;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
}
.find-the-best,
.lets-explore {
  align-self: stretch;
  position: relative;
  line-height: 67px;
}
.find-the-best {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-family: var(--font-roboto);
}
.title2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.search-flights5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.radio,
.radio1 {
  position: absolute;
  top: 0;
  left: 0;
}
.radio1 {
  left: 106px;
}
.flight-type {
  position: relative;
  width: 216.53px;
  height: 38px;
}
.flight-options,
.form-title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.form-title-group {
  overflow: hidden;
  padding: var(--padding-8xs);
  gap: var(--gap-8xs);
}
.form-title-group,
.selectoutlined {
  align-self: stretch;
}
.input-group3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.inputs-row1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button5 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 146.98px;
}
.button-group1,
.search-flights-button1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-flights-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  overflow: hidden;
  transition: 0.3s;
}
.search-flights-button1:hover {
  background-color: var(--color-darkorange);
}
.button-group1 {
  padding: var(--padding-8xs);
}
.form-inputs-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-container1,
.search-form1 {
  display: flex;
  flex-direction: column;
}
.search-form1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: 4px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-roboto);
}
.search-container1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  align-items: center;
  justify-content: center;
  padding: 0 140px;
  box-sizing: border-box;
  gap: 43px;
}
.search-section1 {
  align-self: stretch;
  position: relative;
  height: 640px;
}
.hero-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-42xl);
  font-family: var(--font-baloo-bhai);
}
.sin16,
.singapore,
.upcoming-flight {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
  width: 1268.05px;
}
.sin16,
.singapore {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  width: 44.73px;
}
.singapore {
  top: 30px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 72px;
}
.from-details {
  position: relative;
  width: 72px;
  height: 46px;
}
.h-55m {
  position: absolute;
  top: 28.09px;
  left: 23.69px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: inline-block;
  width: 65.66px;
}
.flight-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 117.35px;
  height: 24px;
  object-fit: cover;
}
.duration {
  position: relative;
  width: 117.35px;
  height: 44.09px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.lax,
.los-angeles {
  position: absolute;
  top: 0;
  left: 36px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 51.27px;
}
.los-angeles {
  top: 30px;
  left: 0;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 87.27px;
}
.to-details {
  position: relative;
  width: 87.27px;
  height: 46px;
  text-align: right;
}
.to-and-from {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.horizontal-line {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 1px;
}
.days-to-go-container,
.departs-on-1 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
}
.departs-on-1 {
  text-transform: capitalize;
  width: 203.9px;
}
.days-to-go-container {
  text-align: right;
  width: 87.23px;
}
.departure-details8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.flight-main-container {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: 21px;
}
.line-separator {
  position: relative;
  border-right: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 1px;
  height: 145.99px;
}
.prepare-for-your {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hotel-icon {
  position: relative;
  width: 65.39px;
  height: 65.39px;
  object-fit: cover;
}
.hotel1 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: left;
}
.hotel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: #ff9b53;
  width: 65.39px;
  height: 65.39px;
}
.ticket-icon {
  position: absolute;
  height: 47.93%;
  width: 48.38%;
  top: 26.04%;
  right: 25.81%;
  bottom: 26.03%;
  left: 25.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.attractions-icon {
  position: relative;
  width: 65.39px;
  height: 65.39px;
}
.attractions1 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
}
.background1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: #fdbf00;
  width: 65.39px;
  height: 65.39px;
}
.train-icon {
  position: absolute;
  height: 48.43%;
  width: 41.17%;
  top: 26.51%;
  right: 29.42%;
  bottom: 25.06%;
  left: 29.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: #4dabff;
  width: 70px;
  height: 65.39px;
}
.taxi-icon1 {
  position: absolute;
  height: 40.15%;
  width: 40.52%;
  top: 29.63%;
  right: 29.74%;
  bottom: 30.22%;
  left: 29.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.taxi-icon {
  position: relative;
  width: 70px;
  height: 65.39px;
}
.taxi1 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 32.12px;
}
.background3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: #79ca00;
  width: 65.39px;
  height: 65.39px;
}
.movie-icon {
  position: absolute;
  height: 35.6%;
  width: 39.93%;
  top: 32.2%;
  right: 30.04%;
  bottom: 32.2%;
  left: 30.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trip-menus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.flight-details,
.prepare-menu,
.upcoming-flight-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.prepare-menu {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--color-lightgray);
}
.flight-details,
.upcoming-flight-section {
  align-self: stretch;
}
.flight-details {
  flex-direction: row;
  gap: var(--gap-17xl);
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue-200);
}
.upcoming-flight-section {
  flex-direction: column;
  gap: var(--gap-xl);
}
.most-popular-destinations {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-darkslategray-300);
}
.title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.view-all-destinations {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  display: inline-block;
  width: 197.33px;
  flex-shrink: 0;
}
.arrow-right-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.destinations-titles,
.view-all-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.view-all-top {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-12xl);
  width: 231.38px;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.destinations-titles {
  align-self: stretch;
  align-items: center;
}
.parisimage-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div4,
.from,
.paris {
  color: var(--color-white);
}
.paris {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.div4,
.from {
  position: absolute;
  text-align: right;
  display: inline-block;
}
.div4 {
  top: 21px;
  left: 0;
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
  width: 90.92px;
}
.from {
  top: 0;
  left: 38.39px;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  width: 52.53px;
}
.details {
  position: relative;
  width: 90.92px;
  height: 59px;
}
.destination-details {
  position: absolute;
  width: calc(100% - 0.59px);
  top: 0;
  right: 0.29px;
  left: 0.29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
}
.pariscard {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  height: 182px;
  overflow: hidden;
}
.col-1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.div5,
.from1 {
  position: absolute;
  color: var(--color-white);
  text-align: right;
}
.div5 {
  top: 21px;
  left: 0;
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
}
.from1 {
  top: 0;
  left: 47.39px;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 52.53px;
}
.details1 {
  position: relative;
  width: 99.92px;
  height: 59px;
}
.div7,
.from3 {
  position: absolute;
  color: var(--color-white);
  text-align: right;
  display: inline-block;
}
.div7 {
  top: 21px;
  left: 0;
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
  width: 100.62px;
}
.from3 {
  top: 0;
  left: 48.09px;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  width: 52.53px;
}
.details3 {
  position: relative;
  width: 100.62px;
  height: 59px;
}
.cards-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -16px;
  margin-right: -16px;
}
.view-all-destinations1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 197.33px;
  flex-shrink: 0;
}
.pop-destinations-main,
.view-all-bottom {
  align-items: flex-start;
  justify-content: flex-start;
}
.view-all-bottom {
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  width: 231.38px;
  display: none;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: right;
}
.pop-destinations-main {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xl);
  color: var(--color-cornflowerblue-200);
}
.recommended-holidays {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.view-all-holidays {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  display: inline-block;
  width: 165.89px;
  flex-shrink: 0;
}
.rec-title,
.view-all-holidays-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.view-all-holidays-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-12xl);
  width: 199.89px;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.rec-title {
  align-self: stretch;
  align-items: center;
}
.unsplash5mv818tzxeo-icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 242px;
  object-fit: cover;
}
.bali,
.d3n {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.bali {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.d3n {
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.bali-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.div8 {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 34px;
  font-family: var(--font-baloo-bhai);
  color: var(--color-cornflowerblue-100);
  text-align: right;
}
.holiday-details {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-base);
}
.rec-card-1,
.rec-card-3,
.rec-card-4 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 230px;
  width: 25%;
}
.rec-cards-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -16px;
  margin-right: -16px;
}
.view-all-holidays1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 165.89px;
  flex-shrink: 0;
}
.view-all-bottom1 {
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  width: 199.89px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-200);
}
.recommended-holidays-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--font-size-11xl);
}
.popular-stays1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-300);
  text-align: left;
  width: 1105.34px;
}
.popular-stays-title {
  flex: 1;
  position: relative;
  height: 35px;
}
.view-all-stays {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  display: inline-block;
  width: 140.66px;
  flex-shrink: 0;
}
.view-all-stays-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.popular-stays-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.matterhorn-suites-image {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  object-fit: cover;
}
.entire-bungalow,
.matterhorn-suites,
.night4 {
  align-self: stretch;
  position: relative;
  font-family: var(--font-roboto);
  text-align: left;
}
.entire-bungalow {
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
}
.matterhorn-suites,
.night4 {
  letter-spacing: 0.04em;
  color: var(--color-darkslategray-300);
}
.matterhorn-suites {
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
}
.night4 {
  font-size: var(--font-size-lg);
}
.stay-details-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.video-icon1 {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.stay-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.div12,
.reviews6 {
  position: absolute;
  top: 0;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  text-align: left;
}
.reviews6 {
  left: 53.63px;
  color: var(--color-cornflowerblue-100);
  display: inline-block;
  width: 216.37px;
}
.div12 {
  left: 20.34px;
  font-weight: 500;
  color: var(--color-darkslategray-300);
}
.parent,
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector-icon4 {
  height: 90.47%;
  width: 37.54%;
  right: 62.46%;
  bottom: 9.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent {
  width: 44.34px;
  height: 19px;
}
.rating {
  align-self: stretch;
  position: relative;
  height: 19px;
}
.button6 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-100);
  text-align: left;
}
.more-details-button {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotel-card,
.hotel-card-1,
.stay-details1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.hotel-card {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-smi);
  gap: var(--gap-4xl);
  width: 25%;
}
.hotel-card2:hover,
.hotel-card3:hover,
.hotel-card:hover {
  background-color: var(--color-gainsboro);
  cursor: pointer;
}
.hotel-card-1,
.stay-details1 {
  flex-direction: row;
}
.hotel-card-1 {
  justify-content: center;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  width: 25%;
}
.stay-details1 {
  justify-content: flex-start;
}
.arctic-hut,
.div14,
.reviews8 {
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  text-align: left;
}
.arctic-hut {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
  color: var(--color-darkslategray-300);
}
.div14,
.reviews8 {
  position: absolute;
  top: 0;
  font-size: var(--font-size-base);
}
.reviews8 {
  left: 53.73px;
  color: var(--color-cornflowerblue-100);
  display: inline-block;
  width: 216.27px;
}
.div14 {
  left: 20.38px;
  font-weight: 500;
  color: var(--color-darkslategray-300);
}
.container,
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector-icon6 {
  height: 90.47%;
  width: 37.58%;
  right: 62.42%;
  bottom: 9.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.container {
  width: 44.38px;
  height: 19px;
}
.hotel-card2,
.hotel-card3 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-smi);
  gap: var(--gap-4xl);
  width: 25%;
}
.hotel-card-4,
.hotel-cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.hotel-card-4 {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  width: 25%;
}
.hotel-cards {
  align-items: center;
  justify-content: flex-start;
  margin-left: -12px;
  margin-right: -12px;
}
.view-all-stays1 {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  display: inline-block;
  width: 140.66px;
  flex-shrink: 0;
}
.mobile-view-all-stays {
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.home-contents,
.popular-stays {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.popular-stays {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.home-contents {
  width: 100%;
  align-items: center;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  gap: 80px;
  max-width: 1280px;
  text-align: left;
  color: var(--color-darkslategray-300);
}
.subscribe-section-background {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 530px;
  object-fit: cover;
}
.form-title2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.form-header2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fill-in-your2 {
  align-self: stretch;
  position: relative;
  line-height: 34px;
}
.form-text2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input4 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.form-fields2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button11 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.button10,
.unstyledbutton2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton2 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.button10:hover {
  background-color: var(--color-darkorange);
}
.form2,
.share-your-travels-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form2 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-9xl) var(--padding-11xl);
  gap: var(--gap-mid);
  text-align: left;
  color: var(--color-slategray);
}
.share-your-travels-form {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  align-items: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  margin-left: auto;
  margin-right: auto;
}
.logo-icon2,
.subscribe-section {
  position: relative;
  overflow: hidden;
}
.subscribe-section {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  height: 529px;
}
.logo-icon2 {
  width: 174px;
  height: 33px;
  object-fit: cover;
}
.fickle-flight-is2 {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.social-icons2 {
  position: relative;
  width: 130px;
  height: 30px;
  object-fit: cover;
}
.fickleflight-bio2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-bottom: 40px !important;
}
.footer-child {
  position: relative;
  border-right: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
}
.about-us2 {
  top: 47.76px;
  width: 135.67px;
}
.about-us2,
.careers2,
.company5,
.how-we-work2,
.news2 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company5 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careers2,
.how-we-work2,
.news2 {
  top: 78.76px;
  width: 84.28px;
}
.careers2,
.how-we-work2 {
  top: 109.76px;
  width: 115.11px;
}
.how-we-work2 {
  top: 140.76px;
  width: 197.33px;
}
.company4 {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.account2,
.support5 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.support5 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibility2,
.faq2,
.support-center2 {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibility2,
.faq2 {
  top: 109.76px;
  width: 52.99px;
}
.accessibility2 {
  top: 140.76px;
  width: 164.44px;
}
.covid-advisory2 {
  top: 47.76px;
  width: 172.87px;
}
.airline-fees2,
.covid-advisory2,
.more5,
.tips2 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more5 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airline-fees2,
.tips2 {
  top: 78.76px;
  width: 135.36px;
}
.tips2 {
  top: 109.76px;
  width: 50.56px;
}
.more4 {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.footer-links2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-base);
}
.footer-section3,
.footer2,
.homepage {
  display: flex;
  justify-content: flex-start;
}
.footer2 {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-14xl) var(--padding-65xl);
  gap: var(--gap-25xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.footer-section3,
.homepage {
  flex-direction: column;
}
.footer-section3 {
  align-self: stretch;
  align-items: flex-start;
  color: var(--color-cornflowerblue-200);
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  align-items: center;
  gap: 69px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.homepage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1200px) {
  .top-header2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .flight-main-container {
    width: 520px;
  }
  .hotel-card,
  .hotel-card2,
  .hotel-card3 {
    width: 25% !important;
  }
  .hotel-cards {
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    margin-left: -12px;
    margin-right: -50px;
  }
  .footer2 {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigation-menu2 {
    display: none;
  }
  .hamburger-menu-icon2 {
    display: flex;
  }
  .top-header2 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .inputs-row1 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .search-flights-button1 {
    margin-right: auto;
  }
  .button-group1 {
    width: 100%;
    text-align: left;
  }
  .form-inputs-row,
  .search-form1 {
    flex-direction: column;
  }
  .search-container1 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .horizontal-line {
    width: 100%;
  }
  .flight-main-container {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .line-separator {
    display: none;
  }
  .prepare-menu {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .flight-details {
    flex-direction: column;
  }
  .upcoming-flight-section {
    display: block;
  }
  .view-all-top {
    display: none;
  }
  .col-1 {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 50%;
  }
  .cards-container {
    flex-wrap: wrap;
    margin: -16px;
  }
  .view-all-destinations1 {
    width: auto;
  }
  .view-all-bottom {
    display: flex;
    margin-top: 16px;
  }
  .view-all-holidays-parent {
    display: none;
  }
  .rec-card-1 {
    width: 50%;
    margin-bottom: 32px;
  }
  .rec-card-3,
  .rec-card-4 {
    width: 50%;
  }
  .rec-cards-container {
    margin-left: -16px;
    margin-right: -16px;
    flex-wrap: wrap;
  }
  .view-all-holidays1 {
    width: auto;
  }
  .view-all-bottom1 {
    display: flex;
    mrgin-top: 16px;
  }
  .view-all-stays-button {
    display: none;
  }
  .hotel-card {
    width: 100%;
  }
  .hotel-card-1 {
    width: 33.33%;
  }
  .hotel-card2 {
    width: 100%;
  }
  .hotel-card3 {
    width: 33.33% !important;
  }
  .hotel-card-4 {
    display: none;
    width: 33.33%;
  }
  .hotel-cards {
    margin-right: -50px;
    margin-left: -12px;
  }
  .view-all-stays1 {
    width: auto;
  }
  .mobile-view-all-stays {
    display: flex;
    margin-top: 16px;
  }
  .home-contents {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .share-your-travels-form {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .fickleflight-bio2 {
    flex: unset;
    align-self: stretch;
  }
  .footer-child {
    display: none;
  }
  .footer-links2 {
    flex: unset;
    align-self: stretch;
  }
  .footer2 {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigation-right2 {
    display: flex;
  }
  .lets-explore {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .search-flights5 {
    width: 100%;
    padding-bottom: var(--padding-3xs);
    margin-bottom: 6px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    flex: unset;
    align-self: stretch;
  }
  .flight-type {
    width: 100% !important;
  }
  .flight-options {
    width: 100%;
  }
  .form-title-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-group3 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputs-row1 {
    flex-direction: column;
  }
  .search-flights-button1 {
    width: 100% !important;
  }
  .search-form1 {
    margin-top: 20px;
  }
  .hotel {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .trip-menus {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -28px;
    margin-right: -28px;
  }
  .most-popular-destinations {
    font-size: var(--font-size-3xl);
  }
  .title-container {
    flex: unset;
    align-self: stretch;
  }
  .destinations-titles {
    flex-direction: column;
    align-self: flex-start;
  }
  .col-1 {
    width: 100%;
  }
  .recommended-holidays {
    font-size: var(--font-size-3xl);
  }
  .rec-card-1,
  .rec-card-3 {
    margin-bottom: 32px;
  }
  .rec-card-1,
  .rec-card-3,
  .rec-card-4 {
    min-width: 250px;
    width: 100%;
  }
  .popular-stays1 {
    font-size: var(--font-size-3xl);
  }
  .matterhorn-suites {
    font-size: var(--font-size-xl);
  }
  .hotel-card,
  .more-details-button {
    width: 100% !important;
  }
  .hotel-card {
    margin-bottom: 20px;
  }
  .hotel-card-1 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .hotel-card2,
  .hotel-card3 {
    display: flex;
    width: 100% !important;
  }
  .hotel-card-4 {
    flex: unset;
    align-self: stretch;
  }
  .hotel-cards {
    flex-direction: column;
    padding-right: 0;
    box-sizing: border-box;
    margin-right: -12px;
    margin-left: -12px;
  }
  .button10 {
    width: 100%;
  }
  .button10:hover,
  .homepage:hover {
    background-color: var(--color-orange-200);
  }
  .share-your-travels-form {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company4 {
    margin-bottom: 40px !important;
  }
  .footer-links2 {
    flex-direction: column;
  }
  .footer2 {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .homepage {
    width: 100%;
  }
}
