.symbols-icon {
  position: absolute;
  height: 96.97%;
  width: 99.82%;
  top: 1.59%;
  right: 0.18%;
  bottom: 1.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fickleflight-logo1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.explore1,
.fickleflight-logo1,
.offers1,
.search1 {
  position: relative;
  cursor: pointer;
}
.offers1,
.search1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
}
.offers1 {
  color: var(--color-darkslategray-200);
}
.navigation-menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xl);
}
.hamburger-menu-icon1 {
  display: none;
}
.hamburger-menu-icon1,
.notification-bell-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unsplashd1upkifd04a-icon1 {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.account-section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navigation-right1 {
  justify-content: flex-end;
  gap: var(--gap-17xl);
}
.navigation-right1,
.top-container1,
.top-header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container1 {
  flex: 1;
  justify-content: space-between;
}
.top-header1 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 77px;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
.banner-background-icon,
.banner-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
}
.banner-gradient {
  top: 0;
  bottom: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
}
.banner-background-icon {
  top: 0.4px;
  bottom: -0.4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.where-are-you {
  align-self: stretch;
  position: relative;
  line-height: 67px;
}
.title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.departure-field,
.title1 {
  align-self: stretch;
}
.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.inputs-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 146.98px;
}
.button-group,
.search-flights-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-flights-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  overflow: hidden;
  transition: 0.3s;
}
.button3:hover,
.search-flights-button:hover {
  background-color: var(--color-darkorange);
}
.button-group {
  padding: var(--padding-8xs);
}
.search-form {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
}
.search-section {
  position: absolute;
  width: 100%;
  top: calc(50% - 96.5px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.search-container {
  align-self: stretch;
  position: relative;
  height: 362px;
}
.search-form-section {
  align-self: stretch;
  background: linear-gradient(100.3deg, #114f8b, #2a9ad7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-baloo-bhai);
}
.results1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 219.41px;
}
.results-summary-child {
  position: absolute;
  top: 46.5px;
  left: 0;
  max-height: 100%;
  width: 311.5px;
  object-fit: cover;
}
.results-summary,
.results2 {
  position: absolute;
  top: 0;
  left: 0;
}
.results-summary {
  width: 311.5px;
  height: 47px;
  font-size: var(--font-size-xl);
}
.results2 {
  letter-spacing: 0.26px;
  display: inline-block;
  width: 189.03px;
}
.component-1formcheckbox {
  position: absolute;
  top: 50px;
  left: 0;
}
.booking-options,
.component-1formcheckbox1 {
  position: absolute;
  top: 86px;
  left: 0;
}
.booking-options {
  top: 231.4px;
  width: 221px;
  height: 106px;
}
.results3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 198.04px;
}
.flight-experience {
  top: 376.6px;
  width: 310.8px;
  height: 106px;
}
.airlines,
.flight-experience,
.results4 {
  position: absolute;
  left: 0;
}
.results4 {
  top: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 87.77px;
}
.airlines {
  top: 561px;
  width: 181px;
  height: 106px;
}
.results5 {
  top: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 65.26px;
}
.results5,
.seperator-icon,
.stops {
  position: absolute;
  left: 0;
}
.stops {
  top: 86.2px;
  width: 296.62px;
  height: 106px;
}
.seperator-icon {
  top: 521.3px;
  max-height: 100%;
  width: 350.5px;
  object-fit: cover;
}
.search-filters,
.turkish-icon {
  position: relative;
  width: 350.5px;
  height: 667px;
}
.turkish-icon {
  width: 34.77px;
  height: 46px;
  object-fit: cover;
}
.singapore-airlines {
  position: relative;
  letter-spacing: 0.26px;
}
.airline-section {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.am,
.sin {
  position: absolute;
  left: 0;
  display: inline-block;
}
.am {
  width: 100%;
  top: 0;
  letter-spacing: 0.32px;
  font-weight: 500;
}
.sin {
  width: 79.51%;
  top: 63.46%;
  font-size: var(--font-size-base);
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
}
.departure-details {
  position: relative;
  width: 93px;
  height: 52px;
}
.flighticon {
  position: absolute;
  height: 27.46%;
  width: 88.52%;
  top: 0;
  right: 5.5%;
  bottom: 72.54%;
  left: 5.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.h-55m-non-stop {
  position: absolute;
  top: 65.45%;
  left: 0;
  letter-spacing: 0.21px;
}
.flightduration,
.sin1 {
  font-size: var(--font-size-base);
}
.flightduration {
  position: relative;
  width: 121px;
  height: 55px;
  text-align: center;
  color: var(--color-gray-100);
}
.sin1 {
  position: absolute;
  width: 81.25%;
  top: 63.46%;
  left: 17.65%;
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
  display: inline-block;
}
.arrival-details {
  position: relative;
  width: 91px;
  height: 52px;
  text-align: right;
}
.flight-details-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  font-size: var(--font-size-2xl);
  color: var(--color-cornflowerblue-100);
}
.price-section-child {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
  object-fit: cover;
}
.s-730 {
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
}
.flight-card,
.price-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.price-section {
  width: 128px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-orange-100);
}
.flight-card {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-lightgray);
  padding: 0 var(--padding-6xl);
  gap: var(--gap-31xl);
}
.sin2,
.singapore-airlines1 {
  letter-spacing: 0.26px;
  display: inline-block;
}
.singapore-airlines1 {
  position: relative;
  width: 140px;
  flex-shrink: 0;
}
.sin2 {
  position: absolute;
  width: 79.51%;
  top: 63.46%;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.flighticon1 {
  position: absolute;
  height: 27.46%;
  width: 83.03%;
  top: 0;
  right: 8.26%;
  bottom: 72.54%;
  left: 8.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.flightduration1,
.sin3 {
  font-size: var(--font-size-base);
}
.flightduration1 {
  position: relative;
  width: 129px;
  height: 55px;
  text-align: center;
  color: var(--color-gray-100);
}
.sin3 {
  position: absolute;
  width: 81.25%;
  top: 63.46%;
  left: 17.65%;
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
  display: inline-block;
}
.flight-details-section1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-cornflowerblue-100);
}
.flight-card1,
.price-section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.price-section1 {
  width: 128px;
  font-size: var(--font-size-5xl);
  color: var(--color-orange-100);
}
.flight-card1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-lightgray);
  padding: 0 var(--padding-6xl);
  gap: var(--gap-31xl);
  text-align: center;
}
.japan-icon {
  position: relative;
  width: 34.77px;
  height: 46px;
  object-fit: cover;
  transform: scale(0.8);
}
.flighticon2 {
  position: absolute;
  height: 27.46%;
  width: 88.52%;
  top: 0;
  right: 6.33%;
  bottom: 72.54%;
  left: 5.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.american-airlines-icon {
  position: relative;
  width: 34.77px;
  height: 46px;
  object-fit: cover;
}
.flight-details-section4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-cornflowerblue-100);
}
.flightduration5 {
  position: relative;
  width: 129px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.primary-button-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue-100);
}
.search-flights4 {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 81.5px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.primary-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 220px;
  height: 72px;
}
.flight-cards,
.search-results {
  display: flex;
  align-items: flex-start;
}
.flight-cards {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  font-size: var(--font-size-base);
}
.search-results {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-61xl);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-200);
}
.newsletter-section-background1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 530px;
  object-fit: cover;
}
.form-title-subtext1,
.form-title1 {
  align-self: stretch;
  position: relative;
}
.form-title-subtext1 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.form-title1 {
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.form-header1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fill-in-your1 {
  align-self: stretch;
  position: relative;
  line-height: 34px;
}
.input2 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.form-fields1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button4 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.unstyledbutton1 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button3,
.form1,
.subscribe-form1,
.unstyledbutton1 {
  display: flex;
  flex-direction: column;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.form1,
.subscribe-form1 {
  justify-content: flex-start;
}
.form1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-9xl) var(--padding-11xl);
  gap: var(--gap-mid);
  text-align: left;
  color: var(--color-slategray);
}
.subscribe-form1 {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  align-items: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  margin-left: auto;
  margin-right: auto;
}
.newsletter-form-section1 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-aliceblue);
  height: 529px;
  overflow: hidden;
}
.logo-icon1 {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
  object-fit: cover;
}
.fickle-flight-is1 {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.social-icons1 {
  position: relative;
  width: 130px;
  height: 30px;
  object-fit: cover;
}
.fickleflight-bio1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-bottom: 40px !important;
}
.seperator1 {
  position: relative;
  border-right: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
}
.about-us1 {
  top: 47.76px;
  width: 135.67px;
}
.about-us1,
.careers1,
.company3,
.how-we-work1,
.news1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company3 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careers1,
.how-we-work1,
.news1 {
  top: 78.76px;
  width: 84.28px;
}
.careers1,
.how-we-work1 {
  top: 109.76px;
  width: 115.11px;
}
.how-we-work1 {
  top: 140.76px;
  width: 197.33px;
}
.company2 {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.account1,
.support3 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.support3 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibility1,
.faq1,
.support-center1 {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibility1,
.faq1 {
  top: 109.76px;
  width: 52.99px;
}
.accessibility1 {
  top: 140.76px;
  width: 164.44px;
}
.covid-advisory1 {
  top: 47.76px;
  width: 172.87px;
}
.airline-fees1,
.covid-advisory1,
.more3,
.tips1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more3 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airline-fees1,
.tips1 {
  top: 78.76px;
  width: 135.36px;
}
.tips1 {
  top: 109.76px;
  width: 50.56px;
}
.more2 {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.footer-links1,
.footer1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-links1 {
  flex: 1;
  justify-content: space-between;
  font-size: var(--font-size-base);
}
.footer1 {
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-65xl);
  gap: var(--gap-25xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.footer-section2,
.footer1 {
  align-self: stretch;
}
.footer-section1,
.footer-section2,
.results-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-section1 {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-200);
}
.results-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-42xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .top-header1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .search-filters {
    display: none;
  }
  .footer1,
  .search-results {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigation-menu1 {
    display: none;
  }
  .hamburger-menu-icon1 {
    display: flex;
  }
  .top-header1 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .where-are-you {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .inputs-row {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .search-flights-button {
    margin-right: auto;
  }
  .button-group {
    width: 100%;
    text-align: left;
  }
  .search-form {
    flex-direction: column;
  }
  .search-section {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    width: 100%;
    top: calc(44% - 96.5px - 0px);
  }
  .airline-section {
    flex-direction: column;
  }
  .flight-details-section,
  .flight-details-section1,
  .flight-details-section4 {
    flex-direction: row;
  }
  .search-results,
  .subscribe-form1 {
    padding: var(--padding-xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .subscribe-form1 {
    padding: var(--padding-5xl) 0;
  }
  .fickleflight-bio1 {
    flex: unset;
    align-self: stretch;
  }
  .seperator1 {
    display: none;
  }
  .footer-links1 {
    flex: unset;
    align-self: stretch;
  }
  .footer1 {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigation-right1 {
    display: flex;
  }
  .where-are-you {
    font-size: 31px;
    line-height: 40px;
  }
  .input-group {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputs-row {
    flex-direction: column;
  }
  .search-flights-button {
    width: 100% !important;
  }
  .search-section {
    width: 100%;
    top: calc(32% - 96.5px - 0px);
  }
  .search-container {
    height: 480px;
  }
  .turkish-icon {
    transform: scale(0.8);
  }
  .airline-section {
    flex-direction: row;
    width: 100% !important;
    margin-left: 40px;
  }
  .flightduration {
    transform: scale(0.9);
  }
  .flight-details-section {
    width: 90%;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0 !important;
    flex: unset;
    align-self: stretch;
  }
  .price-section-child {
    display: none;
  }
  .flight-card {
    flex-direction: column;
    padding: var(--padding-xl) 0;
    box-sizing: border-box;
  }
  .flightduration1 {
    transform: scale(0.9);
  }
  .flight-details-section1 {
    width: 90%;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0 !important;
    flex: unset;
    align-self: stretch;
  }
  .flight-card1 {
    flex-direction: column;
    padding: var(--padding-xl) 0;
    box-sizing: border-box;
  }
  .flight-details-section4 {
    width: 90%;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0 !important;
    flex: unset;
    align-self: stretch;
  }
  .flightduration5 {
    transform: scale(0.9);
  }
  .button3 {
    width: 100%;
  }
  .button3:hover {
    background-color: var(--color-orange-200);
  }
  .subscribe-form1 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company2 {
    margin-bottom: 40px !important;
  }
  .footer-links1 {
    flex-direction: column;
  }
  .footer1 {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .am,
  .sin {
    font-size: var(--font-size-base);
  }
  .departure-details {
    width: 80px;
  }
  .h-55m-non-stop {
    font-size: var(--font-size-smi);
  }
  .sin1 {
    font-size: var(--font-size-base);
  }
  .arrival-details {
    width: 80px;
  }
  .flight-details-section,
  .flight-details-section4 {
    width: 90%;
  }
}
